# path configuration
path:
  # template (or list of templates) --> null if you want to run an entire catalog
  filename: template.fits
  # folder where templates are stored 
  catalog: path/to/templates/folder
  # output where visibility table will be saved (used also as input for signigficance calculation)
  output: path/to/visibility/output.npy
  # input XML model --> null if you want to run an entire catalog
  xmlfilename: path/to/model.xml
  # folder where input XML models are stored (the program looks for xml files even in subdirectories) --> null if you want to run a single template 
  xmlcatalog: path/to/xml/folder
  #output where significance table will be saved
  sigmaoutput: path/to/significance/output.npy
# observation setup
setup:
  # sub altitude below which starts the night (for astronomical darkness set -18)
  twilight: -18
  # min angular separation from Moon --> null if moon should not be considered
  moon_sep: 30
  # max moon phase (range 0-1) threshold of observability
  moon_pha: 0.8
  # FoV radius (min angular separation will be added to this); set 0 if moon_sep wrt pointing
  fov_rad: 3
  # altitude (lower) thresholds for IRFs ranges
  thresholds:
    - 10
    - 36
    - 57
  # relative IRFs zenith angle
  zenith_angles:
    - 60
    - 40
    - 20
# all sites
sites_list:
  North: Roque de los Muchachos
  South: Paranal
# total grid points (only if use_visibility_table: no)
total_points: 100
# grid points within visibility window
window_points: 10
# set ephemeris (if jpl -> install them beforehand)
ephemeris: default
#parameters to use for simulation with ctools
ctools:
 #simulation radius
   rad: 2.5
 #xml model to be used for likelihood
   fitmodel: path/to/fitmodel.xml    
 #calibration database       
   caldb: prod3b-v2
 #maximum energy value
   Emax: 2.
 #number of seeds to be randomly generated/ number of iterations
   iterations: 100	
  


